<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustb.hospital.mapper.PatientsMapper">
    <resultMap id="patientMap" type="com.ustb.hospital.entity.Patients">
        <id column="id" property="id"/>
        <result column="patient_id" property="patientId"/>
        <result column="id_card_number" property="idCardNumber"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="balance" property="balance"/>

    </resultMap>
    <select id="selectAll" resultMap="patientMap">
        select * from patients
    </select>


</mapper>